MONGO_URI=mongodb+srv://ubeezy:spAOl7Z5zecQGRRY@ubeezy.xukft6y.mongodb.net/Inventory?retryWrites=true&w=majority
NODE_ENV=development
JWT_SECRET='asupersupersecret'

//add smtp credentials
EMAIL_HOST=""
EMAIL_USER=""
EMAIL_PASS=""
EMAIL_PORT=465

PORT=4000

FRONTEND_URL=http://localhost:3000

CLOUDINARY_URL=cloudinary://933139511324944:maO7dZUwl-LaCY7Urae3Tfa93QY@dc6noyyig